<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=l, initial-scale=1.0">
    <img scr="francesinha.jpg">
    <title>Document</title>
</head>
<body>
    <label for="recipe">Search for a recipe</label>
    <input id="recipe" #search placeholder="Ex: Appetizer">
    <button (click)="searchListRecipes(search.value)">Search</button>
    <article *ngFor="let category of results">
      <p>{{category.category}}</p>
      <p>{{category.name}}. {{category.ingredients}}, {{category.description}}, {{category.difficulty}}, {{category.duration}} </p>
      <button (click)="selectRecipeList(category)">View</button>
    </article>
</body>
</html>