input, button {
    border: solid .5px #555B6E;
    border-radius: 2px;
}
input, button {
    display: inline-block;
    height: 40px;
}
input {
    margin: 0 5px 0 2px;
    width: 400px;
    padding-left: 8px;
}
button {
    height: 43px;
    width: 70px;
}