@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    font-family: "Roboto Slab", serif;

}
body{
    background-image: url('src/assets/background2.jpg');
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color:white;
}

label {
    color: rgb(126, 32, 32);
    font-size: 20px;
}

.form-control {
    width: 30rem;
    height: 2.5rem;
    border: 2px solid rgb(128, 32, 32);
    background-color: rgb(207, 206, 206);
}

button {
    color: white;
    background: rgb(126, 32, 32);
    border: 1rem solid rgb(126, 32, 32);
    border-width: 3px;
    transition: all 0.5s;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

button:hover {
    background-color:brown;
    border-color: rgb(126, 32, 32);
}
