<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooking In</title>
</head>
<body>
    <h1>Cooking in</h1>
    <section>
         <app-recipe [categoryList]="recipecategorylist" (selectedCategoryEvent)="updateSelectedCategory($event)"></app-recipe>
    </section>
    <article>
        <ng-container *ngIf="selectedCategory">
            <img [src]="selectedCategory.photo">
            <p>{{selectedCategory.category}}</p>
            <p>{{selectedCategory.name}}, {{selectedCategory.ingredients}}, {{selectedCategory.description}}, {{selectedCategory.difficulty}}, {{selectedCategory.duration}}</p>
        </ng-container>
    </article>
</body>
</html>